<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <th:block th:include="fragments/head :: head('회원가입완료') "></th:block>  <!--/* 다른페이지와 다르게 fragment를 head태그에 사용하지 않음. 추가적인 style을 추가하기위함 */-->
  <link href="member_registerOk.css" th:href="@{/css/member_registerOk.css}" rel="stylesheet">

</head>
<body>

<div th:replace="fragments/nav :: menu('')"></div>



  <div class="div_center">
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
    </svg>

    <p style="text-align: center; font-size: 1.6rem; margin-top: 10px;">🎉 회원가입을 축하합니다.</p>

    <a class="mt-4 btn btn-lg rounded-4 btn-primary" th:href="@{/login}">로그인하러가기</a>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>