<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head('') "></th:block>
</head>
<body>

<nav class="navbar navbar-expand-md custom-theme" th:fragment="menu(category)">
    <div class="container-fluid custom-width">
        <a class="navbar-brand" href="#" th:href="@{/}" >📖<span>책방</span></a>

        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" style="vertical-align:baseline;">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/search}" th:classappend="${category}=='allSearch' ? 'custom-active'">통합검색</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/category/novel}" th:classappend="${category}=='novel' ? 'custom-active'">소설</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/category/humanities}" th:classappend="${category}=='humanities' ? 'custom-active'">인문</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/category/cartoon}" th:classappend="${category}=='cartoon' ? 'custom-active'">만화</a>
                </li>

            </ul>
        </div>


        <div class="custom-loginPosition">

            <a class="btn btn btn-outline-primary" th:href="@{/login}" th:if="${#strings.isEmpty(session.loginMember)}"><i class="fas fa-sign-in-alt"></i> LOGIN</a>

            <div class="dropdown" th:if="${not #strings.isEmpty(session.loginMember)}"> <!--/*  session이 있는 경우 */-->
                <a class="btn btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-cog"></i>
                    MYPAGE
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" th:href="@{/member/detail}"><i class="fas fa-user"></i> 회원정보</a></li>
                    <li><a class="dropdown-item" th:href="@{/bookPost/write}"><i class="fas fa-file-alt"></i> 글작성하기</a></li>
                    <li><a class="dropdown-item" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> LOGOUT</a></li>
                </ul>
            </div>


        </div>

    </div>



</nav>


</body>
</html>