
.checkmark__circle {
    stroke-dasharray: 166;      stroke-dashoffset: 166;
    stroke-width: 2;      stroke-miterlimit: 10;
    stroke: #7ac142;      fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}
.checkmark {
    width: 200px;      height: 200px; 
    /* 크기조절 */
    border-radius: 50%;      display: block;
    stroke-width: 4px;      stroke: #fff;
    /* 체크표시 굵기 */
    stroke-miterlimit: 10;
    margin: 20px auto;      box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}
.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;      stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}
@keyframes stroke {
    100% { stroke-dashoffset: 0 }
}
@keyframes scale {
    0%,
    100% { transform: none }
    50% { transform: scale3d(1.1, 1.1, 1) }
}
@keyframes fill {
    100% { box-shadow: inset 0px 0px 0px 160px #7ac142 }
    /* 맨 끝 50px이 원 채우는만큼 */
}
@media screen and (max-width:500px){
.checkmark{ width: 160px; height:160px; font-size: 1.2rem; }
}

.div_center{
display: flex;
flex-direction: column;
align-items: center; 
justify-content: center;
margin-top: 110px;
}
@media screen and (max-height:500px){
.div_center{ margin-top:30px; }
}


/* https://bbbootstrap.com/snippets/animated-checkmark-50934051 */
